@using System.Collections
@using System.Threading
@using KymdanMM.Model.Models
@using KymdanMM.Models
@model KymdanMM.Models.MaterialProposalViewModel
@{
    ViewBag.Title = "AddOrUpdateMaterialProposal";
    var currentUser = (UserProfile)ViewBag.CurrentUser;
    var users = (IEnumerable<UserProfile>)ViewBag.Users;
    var enableAttribute = (object)new { @class = "form-control" };
    var isNew = Model.Id == 0;
    var editable = !Model.Sent;
    var open = isNew ? "in" : "";
    var departmentCode = Thread.CurrentPrincipal.Identity.Name.Split('-').Length > 1 ? Thread.CurrentPrincipal.Identity.Name.Split('-')[0] : "LLL";
    var currentYear = DateTime.Now.Year.ToString().Substring(2, 2);
}

<span id="popupNotification"></span>
<div class="row">&nbsp;</div>
<div class="row">
    @using (Html.BeginForm("AddOrUpdateMaterialProposal", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "MaterialProposalForm" }))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FromHardProposal)
        @Html.HiddenFor(m => m.File)
        @Html.HiddenFor(m => m.Sent)
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Thông tin cơ bản
                    </a>
                </p>
            </div>
            <div id="collapseOne" class="panel-collapse collapse @open">
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProposalCode, new { @class = "col-md-4 control-label" })
                            <div class="col-sm-8 col-md-6">
                                @if (editable)
                                {
                                    @Html.TextBoxFor(m => m.ProposalCode, enableAttribute)
                                }
                                else
                                {
                                    <span class="control-label pull-left">@Html.DisplayFor(m => m.ProposalCode)</span>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ManagementCode, new { @class = "col-md-4 control-label" })
                            <div class="col-sm-8 col-md-6">
                                @if (editable)
                                {
                                    @Html.TextBoxFor(m => m.ManagementCode, enableAttribute)
                                }
                                else
                                {
                                    <span class="control-label pull-left">@Html.DisplayFor(m => m.ManagementCode)</span>
                                }
                            </div>
                        </div>
                        @if (Model.FromHardProposal)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProposerUserName, new {@class = "col-md-4 control-label"})
                                <div class="col-sm-8 col-md-6">
                                    @if (editable)
                                    {
                                        @Html.DropDownListFor(m => m.ProposerUserName, new SelectList(users.Where(a => a.DepartmentId > 0), "UserName", "DisplayName"), "Chọn người đề xuất", enableAttribute)
                                    }
                                    else
                                    {
                                        <span class="control-label pull-left">@Html.DisplayFor(m => m.ProposerDisplayName)</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                            <div class="col-sm-8 col-md-6">
                                @if (editable)
                                {
                                    @Html.TextAreaFor(m => m.Description, enableAttribute)
                                }
                                else
                                {
                                    <span class="control-label pull-left">@Html.DisplayFor(m => m.Description)</span>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Note, new { @class = "col-md-4 control-label" })
                            <div class="col-sm-8 col-md-6">
                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Danh sách vật tư
                    </a>
                </p>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div id="MaterialGrid"></div>
                <div id="UploadFileWindow"></div>
                <div id="CommentWindow"></div>
            </div>
        </div>
    }
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <a href="#" onclick="history.back(); return false;" class="btn btn-default navbar-btn" role="button">Trở lại</a>
                @if (!Model.Sent)
                {
                    <input type="button" id="saveDraftMaterialProposal" class="btn btn-primary navbar-btn" value="Lưu tạm" />
                    <input type="button" id="submitMaterialProposal" class="btn btn-primary navbar-btn" value="Gửi" />
                }
                else
                {
                    if (Thread.CurrentPrincipal.IsInRole("Admin"))
                    {
                        <input type="button" id="approveMaterial" class="btn btn-success navbar-btn" value="Duyệt" />
                    }
                    <input type="button" id="submitMaterialProposal" class="btn btn-primary navbar-btn" value="Cập nhật" />
                }
            </div>
        </div>
    </div>
</nav>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <h3>#= message #</h3>
        </div>
    </script>
    <script id="approveStatusTemplate" type="text/x-kendo-tmpl">
        # if (Approved) { #
        <span class="label label-success">
            Đã duyệt
        </span>
        # } else {#
        <span class="label label-warning">
            Chưa duyệt
        </span>
        # } #
    </script>
    <script id="finishStatusTemplate" type="text/x-kendo-tmpl">
        # if (Finished) { #
        <span class="label label-success">
            Đã hoàn thành
        </span>
        # } else {#
        <span class="label label-warning">
            Chưa hoàn thành
        </span>
        # } #
    </script>
    <script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <a href='/Images/Upload/#=name#' target='_blank'>
            <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
            <h4 class='file-heading file-name-heading'>Name: #=name#</h4>
            <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        </a>
        <button type='button' class='k-upload-action'></button>
</div>
</script>
    <script type="text/x-kendo-template" id="materialToolbarTemplate">
    <div class="toolbar">
        <div class="col-sm-2">
            <label>Mục đích sử dụng:</label>
            <input type="text" class="k-textbox" id="UsingPurpose" placeholder="Mục đích sử dụng" />
        </div>
        <div class="col-sm-2">
            <label>Ngày nhận:</label>
            <input id="Deadline" class="datePicker" />
        </div>
        @if (Model.FromHardProposal)
        {
            <div class="col-sm-2">
                <label>Ngày duyệt:</label>
                <input id="ApproveDate" class="datePicker" />
            </div>
            <div class="col-sm-2">
                <label>Ngày giao việc:</label>
                <input id="StartDate" class="datePicker" />
            </div>
            <div class="col-sm-2">
                <label>Ngày hoàn thành:</label>
                <input id="FinishDate" class="datePicker" />
            </div>
        }
    </div>
</script>

    <script type="text/javascript">
        var wnd, commentWindow;
        $(document).ready(function () {
            if ('@Model.FromHardProposal' != 'True') {
                $("#ProposalCode").kendoMaskedTextBox({
                    mask: "@currentYear/@departmentCode/00000"
                }).removeClass("k-textbox");
            } else {
                $("#ProposalCode").kendoMaskedTextBox({
                    mask: "00/LLL/00000"
                }).removeClass("k-textbox");
            }
            implementerDepartmentDataSource.read();
            implementerUserDataSource.read();
            progressStatusDataSource.read();
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    top: 10,
                    right: 10
                },
                autoHideAfter: 5000,
                stacking: "down",
                templates: [{
                    type: "success",
                    template: $("#successTemplate").html()
                }]
            }).data("kendoNotification");
            var editable = '@editable' == 'True';
            var hidden = '@Thread.CurrentPrincipal.IsInRole("Admin")' != 'True' && '@Model.FromHardProposal' != 'True';
            var materialProposalDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models),
                                materialProposalId: $("#Id").val()
                            };
                        } else {
                            return {
                                id: $("#Id").val(),
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                approved: '@ViewBag.Approved'
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialName: { editable: editable, type: "string", validation: { required: true } },
                            Description: { editable: editable, type: "string" },
                            Quantity: { editable: editable, type: "number" },
                            InventoryQuantity: { editable: editable, type: "number" },
                            Unit: { editable: editable, type: "string", validation: { required: true } },
                            Used: { editable: editable, type: "boolean" },
                            UsingPurpose: { editable: editable, type: "string" },
                            Deadline: { editable: editable, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { editable: editable, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { editable: editable, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: editable, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { editable: editable, type: "number" },
                            Note: { editable: editable, type: "string" },
                            ImplementerDepartmentId: { type: "number" },
                            ImplementerUserName: { type: "string" },
                            File: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            Approved: { type: "boolean", editable: false, defaultValue: '@Model.FromHardProposal' == 'True' },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                },
                sync: function () {
                    $("#MaterialGrid").removeClass("input-validation-error");
                    popupNotification.show({ message: "Lưu danh sách vật tư thành công!" }, "success");
                }
            });

            $("#MaterialGrid").kendoGrid({
                dataSource: materialProposalDataSource,
                navigatable: true,
                pageable: true,
                sortable: true,
                resizable: true,
                columnMenu: true,
                selectable: '@editable' != 'True' ? "multiple" : false,
                toolbar: kendo.template($("#materialToolbarTemplate").html()),
                columns: [
                    { field: "MaterialName", title: "Tên vật tư", width: 150 },
                    { field: "Description", title: "Mô tả", editor: textareaEditor, width: 200 },
                    { field: "Quantity", title: "SL", width: 80 },
                    { field: "InventoryQuantity", title: "SL tồn kho", width: 80 },
                    { field: "Unit", title: "Đơn vị tính", width: 80 },
                    { field: "Used", title: "Đã sử dụng?", width: 90 },
                    { field: "UsingPurpose", title: "Mục đích sử dụng", editor: textareaEditor, width: 170 },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Ngày nhận vật tư", width: 150 },
                    { field: "File", title: "File", width: 70, hidden: true},
                    { field: "Approved", title: "Duyệt", template: $("#approveStatusTemplate").html(), width: 100 },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "Ngày duyệt", width: 150, hidden: '@Model.FromHardProposal' != 'True' },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày giao việc", width: 150, hidden: '@Model.FromHardProposal' != 'True' },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Ngày hoàn thành", width: 150, hidden: '@Model.FromHardProposal' != 'True' },
                    { field: "ImplementerDepartmentId", title: "Đơn vị thực hiện", editor: implementerDepartmentEditor, template: "#= getImplementerDepartmentName(ImplementerDepartmentId) #", groupHeaderTemplate: "Đơn vị thực hiện: #= getImplementerDepartmentName(value) #", width: 150, hidden: '@Thread.CurrentPrincipal.IsInRole("Admin")' != 'True' },
                    { field: "ImplementerUserName", title: "Người thực hiện", editor: implementerUserEditor, template: "#= getImplementerDisplayName(ImplementerUserName) #", groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #", width: 150, hidden: '@Model.FromHardProposal' != 'True' },
                    { field: "LastProposalDeparmentComment", template: "<div class='alert alert-info'>#= LastProposalDeparmentComment #</div>", title: "Đơn vị đề xuất phản hồi", width: 200, hidden: '@Model.FromHardProposal' == 'True' || '@isNew' == 'True' },
                    { field: "LastGeneralManagerComment", template: "<div class='alert alert-success'>#= LastGeneralManagerComment #</div>", title: "Chỉ đạo của tổng giám đốc", width: 200, hidden: '@Model.FromHardProposal' == 'True' || '@isNew' == 'True' },
                    { command: [{ text: "Đính kèm", click: uploadFile }, { text: "Phản hồi", click: showComment }], title: " ", width: "220px" }
                ],
                dataBound: function () {
                    if (editable) {
                        $("#MaterialGrid .k-grid-content").on("dblclick", function () {
                            $('#MaterialGrid').data('kendoGrid').addRow();
                        });

                        $("#MaterialGrid .k-grid-content table").on("dblclick", function () {
                            return false;
                        });

                        $(document).on("keydown", function (event) {
                            if (event.keyCode == 32 && event.ctrlKey) {
                                $('#MaterialGrid').data('kendoGrid').addRow();
                                var model = $("#MaterialGrid").data("kendoGrid").dataSource.data()[0];
                                if (model.isNew()) {
                                    model.set("UsingPurpose", $("#UsingPurpose").val());
                                    model.set("Deadline", $("#Deadline").data("kendoDatePicker").value());
                                    if ('@Model.FromHardProposal' == 'True') {
                                        model.set("ApproveDate", $("#ApproveDate").data("kendoDatePicker").value());
                                        model.set("StartDate", $("#StartDate").data("kendoDatePicker").value());
                                        model.set("FinishDate", $("#FinishDate").data("kendoDatePicker").value());
                                    }
                                }
                                return false;
                            }
                            if (event.keyCode == 32 && event.shiftKey) {
                                $('#MaterialGrid').data('kendoGrid').cancelChanges();
                                return false;
                            }
                        });
                    }
                },
                edit: function (e) {
                    $("input[data-role='datepicker']").bind("focus", function () {
                        $(this).data("kendoDatePicker").open();
                    });
                },
                editable: true
            });
            
            $(".datePicker").kendoDatePicker({
                format: "dd/MM/yyyy"
            });
            
            $(".datePicker").bind("focus", function () {
                $(this).data("kendoDatePicker").open();
            });

            wnd = $("#UploadFileWindow")
                .kendoWindow({
                    title: "Đính kèm",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 600
                }).data("kendoWindow");

            $("#submitMaterialProposal").on("click", function () {
                if (!$("#MaterialProposalForm").valid()) {
                    return;
                }
                submitMaterialProposal(true);
            });

            $("#saveDraftMaterialProposal").on("click", function () {
                if (!$("#MaterialProposalForm").valid()) {
                    return;
                }
                submitMaterialProposal(false);
            });

            function submitMaterialProposal(isSend) {
                if (isSend) {
                    $("#Sent").val(isSend);
                }
                $.ajax({
                    url: '@Url.Action("AddOrUpdateMaterialProposal", "Home")',
                    type: "POST",
                    data: $("form").serialize(),
                    dataType: "json",
                    async: false,
                    success: function (id) {
                        popupNotification.show({ message: "Lưu đề xuất thành công!" }, "success");
                        $("#Id").val(id);
                        var data = $("#MaterialGrid").data("kendoGrid").dataSource.data()[0];
                        if (data) {
                            data.dirty = true;
                            $("#MaterialGrid").data("kendoGrid").saveChanges();
                        } else {
                            $("#MaterialGrid").addClass("input-validation-error");
                        }
                        if ('@Thread.CurrentPrincipal.IsInRole("Department Manager")' == 'True') {
                            if (isSend) {
                                if ('@Model.FromHardProposal' == 'True') {
                                    window.location = '@Url.Action("DepartmentManagerPage")' + '#ApprovedImplemented';
                                } else {
                                    window.location = '@Url.Action("DepartmentManagerPage")' + '#SentAndAwaitingApprove';
                                }
                            } else {
                                window.location = '@Url.Action("DepartmentManagerPage")' + '#Temp';
                            }
                        } 
                    }
                });
            }

            $("#approveMaterial").on("click", function () {
                if ($("#MaterialProposalForm").valid()) {
                    submitMaterialProposal(true);
                    approveMaterial();
                }
            });

            function approveMaterial() {
                var ids = [];
                var grid = $("#MaterialGrid").data("kendoGrid");
                grid.select().each(function () {
                    var dataItem = grid.dataItem($(this));
                    ids.push(dataItem.Id);
                });
                if (ids.length > 0) {
                    $.ajax({
                        url: '@Url.Action("ApproveMaterial", "Home")',
                        type: "POST",
                        data: { idString: ids.join(',') },
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            if (result) {
                                $("#MaterialGrid").data("kendoGrid").dataSource.read();
                            }
                        }
                    });
                }
            }

            $("#finishMaterialProposal").on("click", function () {
                if ($("#MaterialProposalForm").valid()) {
                    submitMaterialProposal(true);
                    finishMaterialProposal();
                }
            });

            function finishMaterialProposal() {
                var ids = [];
                var grid = $("#MaterialGrid").data("kendoGrid");
                grid.select().each(function () {
                    var dataItem = grid.dataItem($(this));
                    ids.push(dataItem.Id);
                });
                $.ajax({
                    url: '@Url.Action("FinishMaterial", "Home")',
                    type: "POST",
                    data: { idString: ids.join(',') },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result) {
                            $("#MaterialGrid").data("kendoGrid").dataSource.read();
                        }
                    }
                });
            }

            $("#submitComment").on("click", function () {
                $.ajax({
                    url: '@Url.Action("AddComment", "Home")',
                    type: "POST",
                    data: { id: $("#Id").val(), content: $("#comment").val() },
                    dataType: "json",
                    success: function (result) {
                            $("#MaterialGrid").data("kendoGrid").dataSource.read();
                        
                    }
                });
            });

            $("#comment").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    $("#submitComment").trigger("click");
                }
            });
        });

        var textareaEditor = function (container, options) {
            $('<textarea class="k-input k-textbox" data-bind="value:' + options.field + '" />')
                .appendTo(container);
        };
        
        function uploadFile(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            dataItem.File = dataItem.File ? dataItem.File : "[]";
            wnd.content("<input type=\"file\" id=\"file_" + dataItem.uid + "\" name=\"files\" />");
            $("#file_" + dataItem.uid).kendoUpload({
                multiple: true,
                async: {
                    saveUrl: '@Url.Action("SaveFile", "Home")',
                    removeUrl: '@Url.Action("RemoveFile", "Home")',
                    autoUpload: true
                },
                localization: {
                    select: "Chọn tập tin",
                },
                success: function (e) {
                    var files = JSON.parse(dataItem.File);
                    var results = JSON.parse(e.XMLHttpRequest.responseText);
                    if (e.operation == "remove") {
                        files = $.grep(files, function (file) {
                            return file.name != results[0];
                        });
                    } else {
                        files = $.merge(files, results);
                    }
                    dataItem.set("File", JSON.stringify(files));
                    var imgs = $("#UploadFileWindow").find("img");
                    $.each(imgs, function() {
                        $(this).attr("src", this.src + "?" + new Date().getTime());
                    });
                },
                files: JSON.parse(dataItem.File),
                template: kendo.template($('#fileTemplate').html())
            });
            wnd.center().open();
        }
        
        function showComment(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.Id == 0) {
                alert("Phải lưu trước khi phản hồi!");
                return false;
            }
            commentWindow = $("#CommentWindow")
                .kendoWindow({
                    title: "Phản hồi",
                    modal: true,
                    visible: false,
                    resizable: false,
                    content: '@Url.Action("CommentPartialView")' + '?id=' + dataItem.Id,
                    width: 960
                }).data("kendoWindow");
            commentWindow.center().open();
        }

        function getImplementerDepartmentName(id) {
            var departmentName = "";
            $.each(implementerDepartmentDataSource._data, function () {
                if (this.Id == id) {
                    departmentName = this.DepartmentName;
                }
            });
            return departmentName;
        }

        var implementerDepartmentDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetDepartment",
                    type: "post"
                }
            }
        });

        function implementerDepartmentEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DepartmentName",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: implementerDepartmentDataSource
                });
        }

        function getImplementerDisplayName(userName) {
            var displayName = "";
            $.each(implementerUserDataSource._data, function () {
                if (this.UserName == userName) {
                    displayName = this.DisplayName;
                }
            });
            return displayName;
        }

        var implementerUserDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetAllUser",
                    type: "post"
                }
            }
        });

        function implementerUserEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DisplayName",
                    dataValueField: "UserName",
                    optionLabel: "-Chọn-",
                    dataSource: implementerUserDataSource
                });
        }

        function getProgressStatus(id) {
            var status = "";
            $.each(progressStatusDataSource._data, function () {
                if (this.Id == id) {
                    status = this.Status;
                }
            });
            return status;
        }

        var progressStatusDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetProgressStatus",
                    type: "post"
                }
            }
        });

        function progressStatusEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "Status",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: progressStatusDataSource
                });
        }
        
        function addExtensionClass(extension) {
            switch (extension) {
                case '.jpg':
                case '.img':
                case '.png':
                case '.gif':
                    return "img-file";
                case '.doc':
                case '.docx':
                    return "doc-file";
                case '.xls':
                case '.xlsx':
                    return "xls-file";
                case '.pdf':
                    return "pdf-file";
                case '.zip':
                case '.rar':
                    return "zip-file";
                default:
                    return "default-file";
            }
        }
    </script>
}