@using System.Collections
@using System.Threading
@using KymdanMM.Model.Models
@using KymdanMM.Models
@model KymdanMM.Models.MaterialProposalViewModel
@{
    ViewBag.Title = "AddOrUpdateMaterialProposal";
    var departments = (IEnumerable<Department>)ViewBag.Departments;
    var users = (IEnumerable<UserProfile>)ViewBag.Users;
    var currentUser = (UserProfile)ViewBag.CurrentUser;
    var progressStatuses = (IEnumerable<ProgressStatus>)ViewBag.ProgressStatuses;
    var disabledAttribute = (object)new { @class = "form-control", disabled = "disabled" };
    var enableAttribute = (object)new { @class = "form-control" };
    var editable = false;
    if (Thread.CurrentPrincipal.IsInRole("Admin"))
    {
        editable = Model.ApproveStatus < ApproveStatus.AdminApproved;
    }
    else if (Thread.CurrentPrincipal.IsInRole("Department Manager"))
    {
        editable = Model.ApproveStatus < ApproveStatus.ManagerApproved;
    }
    else
    {
        editable = Model.ApproveStatus == ApproveStatus.Unapproved;
    }
    var panelClass = "";
    var headerString = "";
    switch (Model.ApproveStatus)
    {
        case ApproveStatus.AdminApproved:
            panelClass = "panel-success";
            headerString = "Admin đã duyệt";
            break;
        case ApproveStatus.ManagerApproved:
            panelClass = "panel-info";
            headerString = "Manager đã duyệt";
            break;
        default:
            panelClass = "panel-warning";
            headerString = "Chưa duyệt";
            break;
    }

}

<span id="popupNotification"></span>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="panel @panelClass">
        <div class="panel-heading">
            Thông tin đề xuất (@headerString)
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddOrUpdateMaterialProposal", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "MaterialProposalForm" }))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ApproveStatus)
                @Html.HiddenFor(m => m.Finished)
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Thông tin cơ bản
                                </a>
                            </p>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ProposerUserName, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.ProposerDisplayName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ProposerDepartmentId, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.ProposerDepartmentName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ImplementerUserName, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (Model.ImplementerUserName == null && Thread.CurrentPrincipal.IsInRole("Department Manager") && Model.ImplementerDepartmentId == currentUser.DepartmentId)
                                            {
                                                @Html.DropDownListFor(m => m.ImplementerUserName, new SelectList(users.Where(a => a.DepartmentId == Model.ImplementerDepartmentId), "UserName", "DisplayName"), "Chọn người thực hiện", Thread.CurrentPrincipal.IsInRole("Department Manager") ? enableAttribute : disabledAttribute)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.ImplementerDisplayName)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ImplementerDepartmentId, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (Model.ImplementerDepartmentId == 0 && Thread.CurrentPrincipal.IsInRole("Admin"))
                                            {
                                                @Html.DropDownListFor(m => m.ImplementerDepartmentId, new SelectList(departments, "Id", "DepartmentName"), "Chọn phòng ban", Thread.CurrentPrincipal.IsInRole("Admin") ? enableAttribute : disabledAttribute)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.ImplementerDepartmentName)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ManagementCode, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (string.IsNullOrEmpty(Model.ManagementCode) && Thread.CurrentPrincipal.IsInRole("Admin"))
                                            {
                                                @Html.TextBoxFor(m => m.ManagementCode, Thread.CurrentPrincipal.IsInRole("Admin") ? enableAttribute : disabledAttribute)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.ManagementCode)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Deadline, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (editable)
                                            {
                                                @Html.TextBoxFor(m => m.Deadline)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.Deadline)</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ProposalCode, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (editable)
                                            {
                                                @Html.TextBoxFor(m => m.ProposalCode, enableAttribute)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.ProposalCode)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @if (editable)
                                            {
                                                @Html.TextAreaFor(m => m.Description, enableAttribute)
                                            }
                                            else
                                            {
                                                <span class="control-label pull-left">@Html.DisplayFor(m => m.Description)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ProgressStatusId, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.ProgressStatusId, new SelectList(progressStatuses, "Id", "Status"), "Chọn trạng thái", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-toggle="modal" data-target="#addProgressStatusModal" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Note, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Danh sách vật tư
                            </a>
                        </p>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div id="MaterialGrid"></div>
                    </div>
                </div>
                if (Model.Id != 0)
                 {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Phản hồi
                            </a>
                        </p>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <ul class="chat">
                                    @foreach (var comment in Model.Comments)
                                    {
                                        var str = comment.PosterDisplayName;
                                        string result = str;
                                        if (!string.IsNullOrEmpty(str))
                                        {
                                            var words = str.Split(' ');
                                            for (int index = 0; index < words.Length; index++)
                                            {
                                                var s = words[index];
                                                if (s.Length > 0)
                                                {
                                                    words[index] = s[0].ToString().ToUpper();
                                                }
                                            }
                                            result = string.Join("", words);
                                        }
                                        if (comment.PosterUserName == currentUser.UserName)
                                        {
                                            <li class="right clearfix">
                                                <span class="chat-img pull-right">
                                                    <img src="http://placehold.it/50/FA6F57/fff&amp;text=@result" alt="@comment.PosterDisplayName" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>@comment.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</small>
                                                        <strong class="pull-right primary-font">@comment.PosterDisplayName</strong>
                                                    </div>
                                                    <p>
                                                        @comment.Content
                                                    </p>
                                                </div>
                                            </li>
                                        }
                                        else if (Thread.CurrentPrincipal.IsInRole("Department Manager") || comment.Approved)
                                        {
                                            <li class="left clearfix">
                                                <span class="chat-img pull-left">
                                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=@result" alt="@comment.PosterDisplayName" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">@comment.PosterDisplayName</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>@comment.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                        </small>
                                                    </div>
                                                    <p>
                                                        @comment.Content
                                                    </p>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                 }
            }
        </div>
    </div>
</div>
<div class="modal fade" id="addProgressStatusModal" tabindex="-1" role="dialog" aria-labelledby="addProgressStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addProgressStatusModalLabel">Thêm phòng ban</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="addProgressStatusSuccess">Tạo thành công</div>
                <input type="text" class="form-control" id="Status" placeholder="Tên phòng ban" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="addProgressStatus">Tạo</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="col-sm-8">
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input id="comment" type="text" class="form-control" placeholder="Nhập phản hồi...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="submitComment">
                            Gửi
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <a href="/" class="btn btn-default navbar-btn" role="button">Trở lại</a>
                @if (Thread.CurrentPrincipal.IsInRole("Admin") && Model.ApproveStatus < ApproveStatus.AdminApproved)
                {
                    <input type="button" id="approveMaterialProposal" class="btn btn-success navbar-btn" value="Admin Duyệt" />
                }
                @if (Thread.CurrentPrincipal.IsInRole("Department Manager") && Model.ApproveStatus < ApproveStatus.ManagerApproved)
                {
                    <input type="button" id="approveMaterialProposal" class="btn btn-info navbar-btn" value="Manager Duyệt" />
                }
                <input type="button" id="submitMaterialProposal" class="btn btn-primary navbar-btn" value="Lưu" />
            </div>
        </div>
    </div>
</nav>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <h3>#= message #</h3>
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#addProgressStatus").on("click", function () {
                $.ajax({
                    url: '@Url.Action("AddProgressStatus", "Home")',
                    type: "POST",
                    data: { status: $("#Status").val() },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            $("#Status").val('');
                            $("#addProgressStatusSuccess").show();
                            $("#ProgressStatusId").append('<option value="' + result.Id + '">' + result.Status + '</option>');
                            $("#ProgressStatusId").val(result.Id);
                            $("#addProgressStatusModal").modal("hide");
                        }
                    }
                });
            });

            $("#addProgressStatusModal").on('show.bs.modal', function (e) {
                $("#Status").val('');
                $("#addProgressStatusSuccess").hide();
            });
            $("#Deadline").kendoDatePicker({
                format: "dd/MM/yyyy"
            });
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    top: 10,
                    right: 10
                },
                autoHideAfter: 5000,
                stacking: "down",
                templates: [{
                    type: "success",
                    template: $("#successTemplate").html()
                }]
            }).data("kendoNotification");
            var editable = ('@(Model.ApproveStatus == ApproveStatus.Unapproved)' == 'True' || ('@Thread.CurrentPrincipal.IsInRole("Admin")' == 'True' && '@(Model.ApproveStatus != ApproveStatus.AdminApproved)' == 'True'));
            var materialProposalDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterial",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models),
                                materialProposalId: $("#Id").val()
                            };
                        } else {
                            return {
                                id: $("#Id").val(),
                                pageNumber: options.page,
                                pageSize: options.pageSize
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialName: { editable: editable, type: "string", validation: { required: true } },
                            Description: { editable: editable, type: "string" },
                            Quantity: { editable: editable, type: "number" },
                            Unit: { editable: editable, type: "string", validation: { required: true } },
                            Used: { editable: editable, type: "boolean" },
                            UsingPurpose: { editable: editable, type: "string" },
                            Deadline: { editable: editable, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            Note: { type: "string" },
                            ImplementerDepartment: { editable: editable },
                            ImplementerUser: { editable: editable }
                        }
                    },
                    total: "total",
                    data: "data"
                },
                sync: function () {
                    $("#MaterialGrid").removeClass("input-validation-error");
                    popupNotification.show({ message: "Lưu danh sách vật tư thành công!" }, "success");
                }
            });

            $("#MaterialGrid").kendoGrid({
                dataSource: materialProposalDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                height: 400,
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialName", title: "Tên vật tư" },
                    { field: "Description", title: "Mô tả", editor: textareaEditor },
                    { field: "Quantity", title: "Số lượng" },
                    { field: "Unit", title: "Đơn vị tính", hidden: true },
                    { field: "Used", title: "Đã sử dụng?", hidden: true },
                    { field: "UsingPurpose", title: "Mục đích sử dụng", editor: textareaEditor, hidden: true },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Hạn chót" },
                    { field: "ImplementerDepartment", title: "Phòng ban thực hiện", editor: implementerDepartmentEditor, template: "#= (ImplementerDepartment != null) ? ImplementerDepartment.DepartmentName : '' #" },
                    { field: "ImplementerUser", title: "Người thực hiện", editor: implementerUserEditor, template: "#= (ImplementerUser != null) ? ImplementerUser.DisplayName : '' #" },
                    { field: "Note", title: "Ghi chú", editor: textareaEditor },
                    { command: [{ name: "destroy", title: "&nbsp;", width: "10%", text: "Xóa" }] }
                ],
                dataBound: function () {
                    if ($("#Id").val() != 0) {
                        $("#MaterialGrid").data("kendoGrid").hideColumn(10);
                        $(".k-grid-add").remove();
                    } else {
                        $("#MaterialGrid .k-grid-content").on("dblclick", function () {
                            $('#MaterialGrid').data('kendoGrid').addRow();
                        });

                        $("#MaterialGrid .k-grid-content table").on("dblclick", function () {
                            return false;
                        });
                    }
                },
                editable: true
            });

            $("#submitMaterialProposal").on("click", function () {
                if (!$("#MaterialProposalForm").valid()) {
                    return;
                }

                $.ajax({
                    url: '@Url.Action("AddOrUpdateMaterialProposal", "Home")',
                    type: "POST",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (id) {
                        popupNotification.show({ message: "Lưu đề xuất thành công!" }, "success");
                        $("#Id").val(id);
                        var data = $("#MaterialGrid").data("kendoGrid").dataSource.data()[0];
                        if (data) {
                            data.dirty = true;
                            $("#MaterialGrid").data("kendoGrid").saveChanges();
                        } else {
                            $("#MaterialGrid").addClass("input-validation-error");
                        }
                    }
                });
            });

            $("#approveMaterialProposal").on("click", function () {
                $("#submitMaterialProposal").trigger("click");
                $.ajax({
                    url: '@Url.Action("ApproveMaterialProposal", "Home")',
                    type: "POST",
                    data: { idString: $("#Id").val() },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            location.reload();
                        }
                    }
                });
            });

            $("#submitComment").on("click", function () {
                $.ajax({
                    url: '@Url.Action("AddComment", "Home")',
                    type: "POST",
                    data: { id: $("#Id").val(), content: $("#comment").val() },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            location.reload();
                        }
                    }
                });
            });

            $("#comment").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    $("#submitComment").trigger("click");
                }
            });
        });

        var textareaEditor = function (container, options) {
            $('<textarea class="k-input k-textbox" data-bind="value:' + options.field + '" />')
                .appendTo(container);
        };
        
        function implementerDepartmentEditor(container, options) {
            $('<input required data-text-field="DepartmentName" data-value-field="Id" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/Home/GetDepartment",
                                type: "post"
                            }
                        }
                    }
                });
        }
        
        function implementerUserEditor(container, options) {
            $('<input required data-text-field="DisplayName" data-value-field="UserName" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/Home/GetUser",
                                type: "post"
                            }
                        }
                    }
                });
        }
    </script>
}