@using System.Threading
@using KymdanMM.Models
@model KymdanMM.Models.MaterialViewModel
@{
    ViewBag.Title = "Material";
    var currentUser = (UserProfile)ViewBag.CurrentUser;
}

<div class="row">&nbsp;</div>
<div class="row">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Thông tin vật tư
                                </a>
                            </p>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body form-horizontal">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ApproveDate, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.ApproveDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Approved, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.Approved)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Deadline, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.Deadline)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.Description)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Finished, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.Finished)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ImplementerUserName, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 col-md-6">
                                            <span class="control-label pull-left">@Html.DisplayFor(m => m.ImplementerUserName)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Phản hồi
                                </a>
                            </p>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <ul class="chat">
                                        @foreach (var comment in Model.Comments)
                                        {
                                            var str = comment.PosterDisplayName;
                                            string result = str;
                                            if (!string.IsNullOrEmpty(str))
                                            {
                                                var words = str.Split(' ');
                                                for (int index = 0; index < words.Length; index++)
                                                {
                                                    var s = words[index];
                                                    if (s.Length > 0)
                                                    {
                                                        words[index] = s[0].ToString().ToUpper();
                                                    }
                                                }
                                                result = string.Join("", words);
                                            }
                                            if (comment.PosterUserName == currentUser.UserName)
                                            {
                                                <li class="right clearfix">
                                                    <span class="chat-img pull-right">
                                                        <img src="http://placehold.it/50/FA6F57/fff&amp;text=@result" alt="@comment.PosterDisplayName" class="img-circle">
                                                    </span>
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>@comment.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</small>
                                                            <strong class="pull-right primary-font">@comment.PosterDisplayName</strong>
                                                        </div>
                                                        <p>
                                                            @comment.Content
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                            else if (Thread.CurrentPrincipal.IsInRole("Department Manager") || comment.Approved)
                                            {
                                                <li class="left clearfix">
                                                    <span class="chat-img pull-left">
                                                        <img src="http://placehold.it/50/55C1E7/fff&amp;text=@result" alt="@comment.PosterDisplayName" class="img-circle">
                                                    </span>
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <strong class="primary-font">@comment.PosterDisplayName</strong>
                                                            <small class="pull-right text-muted">
                                                                <span class="glyphicon glyphicon-time"></span>@comment.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                            </small>
                                                        </div>
                                                        <p>
                                                            @comment.Content
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="col-sm-8">
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input id="comment" type="text" class="form-control" placeholder="Nhập phản hồi...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="submitComment">
                            Gửi
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <a href="/" class="btn btn-default navbar-btn" role="button">Trở lại</a>
            </div>
        </div>
    </div>
</nav>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitComment").on("click", function () {
            $.ajax({
                url: '@Url.Action("AddComment", "Home")',
                type: "POST",
                data: { id: '@Model.Id', content: $("#comment").val() },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        location.reload();
                    }
                }
            });
        });

        $("#comment").on("keypress", function (e) {
            if (e.keyCode == 13) {
                $("#submitComment").trigger("click");
            }
        });
    });
</script>
}